<div class = "container">
    <div class = "jumbotron text-center">
        <h3> Pokemon Example!</h3>
        <span class = "label label-success">Using the RESTful PokeAPI</span>
    </div>
</div>


<!-- For this example, we're not using form! from is a html built in tool
        We want to use JavaScript. HTML is simply a document. 
-->

<!--What would I like to show about the pokemon?-->
<!-- The name of the pokemon-->
<!-- A default front image of the pokemon-->
<!-- The type of the pokemon-->
<div class = "info">
    <div class = "text-center">
        <img id = "pokemonImg">
        <img id = "backImg">
        <h3 id = "pokemonName"></h3>
        <h3 id = "pokemonType"></h3>
    </div>
    
</div>




<!--This is the input section of our page, for the user to send us information-->

<div class = "container">
    <input type="text" id="pokemonId" placeholder="Enter Pokemon Id" class = "form-control">
     <input type="submit" class="form-control btn btn-success" id="pokemonSubmit">
</div>
