<div class = "container">
    <div class = "jumbotron text-center">
        <h3> Pokemon Example!</h3>
        <span class = "label label-success">Using the RESTful PokeAPI</span>
    </div>
</div>


<!-- For this example, we're not using form! from is a html built in tool
        We want to use Angular.  
-->

<!--What would I like to show about the pokemon?-->
<!-- The name of the pokemon-->
<!-- A default front image of the pokemon-->
<!-- The type of the pokemon-->
<div class = "info">
    <div class = "text-center">
        <img [src] = 'frontSprite'>
        <img [src] = 'backSprite'>
        <h3 >{{'Pokemon name: ' + pokemonName}}</h3>
        <h3 >{{'Pokemon type: ' + pokemonType}}</h3>
        <h3>{{'Pokemon id: ' + pokemonId}}</h3>
    </div>
    
</div>




<!--This is the input section of our page, for the user to send us information-->

<div class = "container">
    <input type="number" class = 'form-control' [(ngModel)] = 'pokemonId'>
    <button class = "form-control btn btn-info" (click) = 'pokeButtonClick()'>Capture Pokemon</button>
</div>
